.gallery .backdrop .backdrop-content {
    width: 415px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.gallery .backdrop .backdrop-content .image {
    position: relative;
}

.gallery .backdrop-content .image .icon-button-prev {
    position: absolute;
    left: -21px;
    top: 50%;
    transform: translateY(-50%);
}

.gallery .backdrop-content .image .icon-button-next {
    position: absolute;
    right: -21px;
    top: 50%;
    transform: translateY(-50%);
}

.gallery .backdrop .thumbnails {
    position: relative;
}

.gallery .backdrop .thumbnails .img-holder-backd {
    height: 75px;
    width: 75px;
    position: relative;
}

.gallery .backdrop .thumbnails img {
    height: 75px;
    aspect-ratio: 1;
    object-fit: cover;
}
