.gallery {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.gallery .image img {
    height: 415px;
    object-fit: cover;
    aspect-ratio: 1;
    border-radius: 10px;
    cursor: pointer;
}

@media (max-width: 992px) {
    .gallery .image img {
        height: 350px;
    }
}

.gallery .thumbnails {
    display: flex;
    align-items: center;
    gap: 20px;
}

.gallery .thumbnails .img-holder {
    position: relative;
    height: 90px;
    width: 90px;
}

.gallery .thumbnails .img-holder img {
    object-fit: cover;
    aspect-ratio: 1;
}

@media (max-width: 992px) {
    .gallery .thumbnails .img-holder {
        height: 75px;
        width: 75px;
    }
}

.gallery .thumbnails img {
    height: 90px;
    border-radius: 10px;
    cursor: pointer;
}

@media (max-width: 992px) {
    .gallery .thumbnails img {
        height: 75px;
    }
}
