.mobile-gallery {
    position: relative;
    width: 100%;
}

.mobile-gallery img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

.mobile-gallery button {
    position: absolute;
}

.mobile-gallery .icon-button-prev {
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.mobile-gallery .icon-button-next {
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}
